<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alex.shoplist"
    android:versionCode="1"
    android:versionName="1.0" >


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="alex.shoplist.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="alex.shoplist.ShopListActivity" >
</activity>
        <activity android:name="alex.shoplist.ShowItem" >
</activity>
  <activity android:name="alex.shoplist.GetList" >
</activity>


    <activity android:name="alex.shoplist.ViewSettings" >
</activity>
  
  <activity android:name="alex.shoplist.CustomerDetail" >
</activity>
  
    
    </application>
 <uses-permission android:name="android.permission.INTERNET" >

    </uses-permission>
</manifest>